.header {
  border-bottom: 1px solid #dee2e6;
}

.tabnumber {
  border-radius: 0.4rem;
  color: #868e96;
  border: 1px solid #a8afb6;
}

.tabnumber-active {
  border-radius: 0.4rem;
  color: #fff;
  background-color: var(--mantine-color-pale-red-5);
  border: none;
}

.detail-card {
  border-bottom: 1px solid #eee;
}

.detail-card:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.detail-card-active {
  cursor: pointer;
  background-color: #d2e3fc;
  border-bottom: 1px solid #eee;
}

.detail-card-active:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.anchor:hover {
  color: #339af0 !important;
  cursor: pointer;
  font-weight: 500;
}

.tabtext {
}

.tabtext-active {
}
