.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  color: #000;
  font-size: 1rem;

  //   @mixin hover {
  //     background-color: light-dark(
  //       var(--mantine-color-gray-0),
  //       var(--mantine-color-dark-7)
  //     );
  //     color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  //   }
}

.control:hover {
  background-color: #f8f9fa;
  color: #000;
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 0.625rem 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #495057;
  border-left: 1px solid #dee2e6;

  //   @mixin hover {
  //     background-color: light-dark(
  //       var(--mantine-color-gray-0),
  //       var(--mantine-color-dark-7)
  //     );
  //     color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  //   }
}

.link:hover {
  background-color: #f8f9fa;
  color: #000;
}

.chevron {
  transition: transform 200ms ease;
}
