.icon {
  color: #000;
}

.activeIcon {
  color: #1864ab;
}

.control,
.activeControl {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  border-radius: rem(6);
  margin-bottom: rem(4);

  .label {
    @include light {
      color: black;
    }

    @include dark {
      color: white;
    }

    padding-left: 15px;
  }

  font-size: rem(15);
}

.control:hover .icon {
  color: #1864ab;
}

.control:hover,
.activeControl {
  background-color: #eee;

  @include light {
    color: #1864ab;
  }

  @include dark {
    color: black;
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 0.625rem 1rem;
  margin-left: 1rem;

  font-size: 0.9rem;

  @include light {
    color: #495057;
  }

  @include dark {
    color: #a5a9ad;
  }

  border-left: 1px solid #dee2e6;
}

.link:hover {
  @include light {
    background-color: #f8f9fa;
    color: black;
  }

  @include dark {
    background-color: #353535;
    color: white;
  }
}

.chevron {
  transition: transform 200ms ease;
}
