.container {
  //   flex: 1;
}

.static-card {
  border-radius: 0.4rem;
  padding: 1.25rem;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;

  @include light {
    background-color: white;
  }

  @include dark {
    background-color: #1f1f1f;
  }

  &:hover {

    @include light {
      background-color: #f8f6fc;
    }

    @include dark {
      background-color: #242424;
    }
  }
}

.static-card-title {
  color: #5f6980;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.static-card-number {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 1.8rem;
}

.static-card-link {
  color: #9d9fa1;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
  text-decoration: underline;
}