.container {
  //   flex: 1;
}

.static-card {
  border-radius: rem(8);
  padding: 1.25rem;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

  @include light {
    background-color: white;
  }

  @include dark {
    background-color: #1f1f1f;
  }
}

.static-card-title {
  color: #5f6980;
  font-size: rem(15);
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
}

.static-card-number {
  font-size: rem(32);
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
}

.static-card-link {
  color: #9d9fa1;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
  text-decoration: underline;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  border-top: rem(1px) solid var(--mantine-color-gray-2);
}

.main_container {
  cursor: pointer;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
