.card_footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: rem(1px) solid var(--mantine-color-gray-2);
}

.main_container {
  cursor: pointer;
  margin: 0 auto;

  @include light {
    background-color: white;
  }

  @include dark {
    background-color: #242424;
  }

  box-shadow: 0px 3px 4px #00000024,
  0px 3px 3px #0000001f,
  0px 1px 8px #00000033;
}