.edgeBox-button {
    border-bottom: 1px solid #ccc;
    
}

.edgeBox-button-active{
    background-color: #d2e3fc ; 
    border-top-left-radius: rem(8);
    border-top-right-radius: rem(8);
}

.edgeBox-collapse{
    box-shadow: 0px 4px 5px -2px rgba(97,82,82,0.55);
    // border-bottom: 1px solid #ccc;
    background-color: #d2e3fc;
    border-bottom-left-radius: rem(8);
    border-bottom-right-radius: rem(8);
}

.edgeBox-button:hover, .edgeBox-collapse:hover, .edgeBox-button-active:hover{
    background-color:  #d2e3fc ;
    cursor: pointer;
}

.clickable-style {
    cursor: pointer;
}
.clickable-style:hover, .clickable-style:hover > p {
    color: #339af0 !important;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;

}