.navbar {
  background-color: #fff;
  height: rem(800px);
  width: rem(300px);
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid #dee2e6;
}

.header {
  padding: 1rem;
  padding-top: 0;
  margin-left: calc(1rem * -1);
  margin-right: calc(1rem * -1);
  color: #000;
  border-bottom: rem(1px) solid #dee2e6;
}

.links {
  flex: 1;
  margin-left: calc(1rem * -1);
  margin-right: calc(1rem * -1);
}

.linksInner {
  padding-bottom: 2rem;
}

.footer {
  margin-left: calc(1rem * -1);
  margin-right: calc(1rem * -1);
  border-top: rem(1px) solid #dee2e6;
}
