$primary-red: #ee5a5b;

.container-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;

  .image-container {
    width: 400px;
    text-align: left;
    color: var(--mantine-color-shading-9);
    margin: 0 30px 30px 0;

    .title {
      font-weight: bold;
      color: black;
      font-size: 40px;
    }

    .description {
      text-align: left;
      padding: 0 0 30px 0;
      font-size: 18px;
    }

    .auth-image {
      width: 300px;
    }
  }

  .container {
    border-radius: 15px;
    background-color: white;
    width: 600px;
    height: fit-content;
    padding: 30px 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
      0px 1px 5px rgba(0, 0, 0, 0.2);

    .title {
      text-align: left;
      font-weight: bold;
      font-size: 40px;
    }
  }
}
