.text {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link {
    
    @include light {
        color: var(--mantine-color-light-blue-9);
    }

    @include dark {
        color: var(--mantine-color-light-blue-1);
    }
}

.back {
    cursor: pointer;
    user-select: none;
}