@font-face {
  font-family: "DVN-Poppins";
  src: local("DVN-Poppins"), url("./assets/fonts/DesignerVN-Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DVN-Poppins";
  src: local("DVN-Poppins"), url("./assets/fonts/Poppins-Bold.otf") format("truetype");
  font-weight: bold;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  margin-top: 20px;
}

button {
  margin: 20px 0;
}

.mantine-Modal-header, .mantine-Modal-content {
  padding: 0 20px;
}

.mantine-Modal-title {
  font-size: 25px;
  margin-top: 10px;
}