@font-face {
  font-family: "DVN-Poppins";
  src: local("DVN-Poppins"),
    url("./assets/fonts/DesignerVN-Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DVN-Poppins";
  src: local("DVN-Poppins"),
    url("./assets/fonts/DesignerVN-Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

label {
  margin-top: 10px;
}

.mantine-Modal-content {
  padding: 10px 20px;
}

.mantine-Modal-title {
  font-weight: bold;
}